<ion-content [fullscreen]="true">
  <div class="textoerror">
    <h1 id="titulo">Error 404</h1>
    <p>Página no encontrada :(</p>
  </div>
  <div class="container">
    <lottie-player
      slot="end"
      autoplay
      loop
      src="https://lottie.host/0f361275-90a6-4466-b17b-dbb47c88e53c/sxPzbbVKpi.json"
    >
    </lottie-player>
  </div>

  <div>
    <p class="textoreferente">
      La pagina que estabas buscando fue eliminada, cambio su nombre o se
      encuentra temporalmente deshabilitada.
    </p>
    <ion-button id="button" routerLink="/login" expand="block" shape="round">
      Volver al inicio
    </ion-button>
  </div>
</ion-content>
